page-methods {
    .border-bottom{
        border-bottom: 1px solid $theme_primary_color;
        padding-bottom: 10px;
    }
    .toolbar-title {
        font-size: 1.6rem;
        color: #ffffff !important;
    }
    ion-item.item {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: $gray_color;
    }

    ion-avatar {
        width: 40px !important;
        height: 40px !important;
        // background: $theme_secondry_color;
    }
    .ion-ios-arrow-forward.item-icon {
        color: $theme_secondry_color;
    }
    .circle {
        width: 40px;
        height: 40px;
    }
    ion-avatar img {
        width: 35px !important;
        height: 35px !important;
        margin-left: 2px;
        margin-top: 2px;
        border-radius: unset !important;
        -webkit-filter: none !important;
        filter: none !important;
    }
    .width-100 img{
        width: 100%;
    }
    .toolbar-background-md{
      background: #0162a8 !important;
    }
    .card-md{
      border-radius: 2% !important;
    }
}

.txt-content {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  font-size: 20px !important;
  color: #fff !important;
}

.cl1{
  background: #4c8cba !important;
}

.cl2{
  background: #c53e3a !important;
}

.cl3{
  background: #cc6032 !important;
}

.cl4{
  background: #30a8b9 !important;
}

.cl5{
  background: #3fa492 !important;
}

.cl6{
  background: #e57938 !important;
}

.cl7{
  background: #82a33a !important;
}

.cl8{
  background: #7f9ba7 !important;
}

.whiteImg{
  background: #ffffff;
}

.card{
  width: 100% !important;
}

.height-100{
  height: 149px !important;
}
.height-100p{
  height: 100% !important;
}
.img3{
  height: 100% !important;
  width: 50% !important;
  /* margin: 24% !important; */
  margin-top: 16%;
  /* margin-bottom: auto; */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.txtalignstart{
  text-align: start !important;
  font-weight: bold !important;
  margin-left: 2% !important;
}


